name: Generate Jeedom PHP sources

on:
  push:
    branches: [ master, develop, feat/script_refactor ]
  pull_request:
    branches: [ master, develop]
  # this is to manually trigger the worklow
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Reason'     
        default: 'Manual launch'

jobs:

  build:
  # this step use only simple scripts commands
    strategy:
      # do every matrix combination, don't stop on errors
      fail-fast: false
      # limit to avoid error HTTP 409: too many requests
      max-parallel: 5
      matrix:
        php: [7.4, 8.2, 8.4]
        version:
          - beta
          - develop
          - master
        repo:
          - jeedom/core
          - pifou25/jeedom-core
        exclude:
          - version: beta
            repo: pifou25/jeedom-core
          - version: develop
            repo: jeedom/core
          - version: master
            repo: pifou25/jeedom-core

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: docker login to ghcr.io registry
      run: |
        docker login ghcr.io -u ${{ github.repository_owner }} -p ${{ secrets.GHCR_SECRET }}

    - name: Build Jeedom ${{ matrix.repo }}:${{ matrix.php }}-${{ matrix.version }}
      # docker build [directory] --file [file] --tag [tag]
      run: |
        docker build --build-arg JEEDOM_REPO=${{ matrix.repo }} \
        --build-arg JEEDOM_VERSION=${{ matrix.version }} \
        --build-arg PHP=${{ matrix.php }} \
        --file build/Dockerfile.source --tag ghcr.io/${{ secrets.DOCKER_USER }}/docker-jeedom:source-${{ matrix.php }}-${{ matrix.version }} build 
      
    - name: Docker Push ghcr.io
      run: |
        docker push ghcr.io/${{ secrets.DOCKER_USER }}/docker-jeedom:source-${{ matrix.php }}-${{ matrix.version }}
