name: Docker Multiplatform Build ci
# master branch build image from jeedom/core:master repo
# develop branch build image from pifou25/jeedom-core:develop repo

on:
  push:
    branches:
      - master
      - develop
      - feat/script_refactor
  
  # this is to manually trigger the worklow
  workflow_dispatch:
    inputs:
      target:
        description: 'light ou full, cible du build à générer'     
        default: 'light'

jobs:
  build-light-step:
    uses: ./.github/workflows/buildx-platform.yml

    strategy:
      matrix:
        target: [light, full]
      max-parallel: 1
    with:
      target : ${{ matrix.target }}
    secrets: inherit
